/* FindWork.css */

.findwork-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
  }
  
  .findwork-title {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  
  .projects-list {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .projects-list p {
    font-size: 18px;
    color: #555;
  }
  